[submodule "SDL"]
	path = SDL
	url = https://github.com/libsdl-org/SDL
	branch = main
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "ImGuiFileDialog"]
	path = ImGuiFileDialog
	url = https://github.com/tildearrow/ImGuiFileDialog
	branch = Lib_Only
